.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item-container {
  margin: 25px auto;
  width: 600px;
}

.item  {
  border: 1px solid black;
  padding: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.rate{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.driverCards{
  display:flex;
  flex-direction: column;
  align-items: center;


}

.driverCards img{
 width: 150px;
 border-radius: 50%;
 align-items: center;

}

.driver{
  display:flex;
  width:80vw;
  margin: 100;
  justify-content: center;
  padding: 20px 0px;
  border-radius: 5px;
  margin-bottom : 10px;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  width: auto;
  background-color: #455eb5;



}
.driverText{
  margin: 0px 20px;
  justify-content: left;
  text-align: left;
}


